<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Toggles" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <Toggles>
    <add key="ButtonToggle" value="true" />
    <add key="NotFinished" value="false" />
    <add key="asdf" value="asdf" />
    <add key="FakeTrue" value="true" />
    <add key="FakeFalse" value="false" />
  </Toggles>
</configuration>